.favoriteCity {
    display: grid;
    grid-template-rows: 2em 3em 2em;
    justify-items: center;
    border-radius: 1em;
    height: -webkit-fill-available;
    justify-content: center;
    width: 6em;

    .city {
        color: gray;
    }

    .description {
        text-overflow: ellipsis;
    }
}