.currentWeather {
    grid-area: details;

    display: grid;
    grid-template-areas: 
        'city'
        'degree'
        'description';
    grid-template-rows: 3em 4em 2em;
    grid-template-columns: 1fr;
    justify-self: center;
    justify-items: center;

    margin: .5em;
    width: 10em;
    height: fit-content;
    padding-block: 1em;
    border-radius: 1em;

        .city {
            grid-area: city;
            align-self: end;
            
            color: gray;
            
            font-size: 1.5em;
        }

        .degree {
            grid-area: degree;
            align-self: end;
            
            font-size: 2em;
        }

        .description {
            grid-area: description;

            color: gray;
        }
}