.favorites {
    width: 30em;
    grid-area: forecasts;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    gap: .5em;
    margin: .5em 1em;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        display: none;
    }
}